<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>
          <a href="https://github.com/boratsbias" target="_blank" rel="noopener noreferrer">GitHub</a> &middot;
          <a href="https://www.linkedin.com/in/anubrat-bora-044ba2187" target="_blank" rel="noopener noreferrer">LinkedIn</a> &middot;
          <a href="https://x.com/anubrat25" target="_blank" rel="noopener noreferrer">X</a>
        </p>
      </div>

    </div>
  </div>
</footer>
