<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    <nav class="site-nav">
      <a href="https://github.com/boratsbias" target="_blank" rel="noopener noreferrer">GitHub</a>
      <a href="https://www.linkedin.com/in/anubrat-bora-044ba2187" target="_blank" rel="noopener noreferrer">LinkedIn</a>
      <a href="https://x.com/anubrat25" target="_blank" rel="noopener noreferrer">X</a>
    </nav>
  </div>
</header>
